
:root {
	--font-color: white;
	--main-dark-bg: #343434;
	--bg-light: #E9C668;
	--bg-dark: #301D36;
	--bg-dark-border: #7648B0;
	--bg-light-border: #EBEBEB;
	--bg-makari: #330000;
	--card-select-red: #ED0000;
	--card-select-green: #3FBD2B;
	--card-select-blue: #3582DB;
	--card-select-yellow: #F0E035;
}
#headeri {
	width: 100%;
}
.sidebar {
	float: left;
	height: 100%;
	width: 20%;
	background-color: var(--bg-light);	
}
.items {
	display: initial;
}
.title {
	margin-top: 30px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: var(--font-color);
}
.subtitle{
	font-size: 26px;
}
.main {
	margin: 10px 25%;
	overflow-y: scroll;
	scrollbar-width: thin;
	width: 65%;
	height: 65%;
	padding: 3%;
	background-color: rgba(30, 30, 30, 0.65);
}
.mainch {
	display: flex;
	flex-direction: column;
}
.subch li ul li{
	display: inline-block;
	list-style-type: none;
}
.dialogue {
	width: 100%;
	margin-top: 20px;
	display: inline-flex;
}
.text {
	margin-left: 10px;
}
.dialogue p {
	width: fit-content;
	font-size: 26px;
	color: var(--font-color);
}
ul li {
    display: inline-block;
    list-style-type: none;
}
.mainchapterchange {
	font-size: 21px;
	width: 75%;
}
.subchapterchange {
	margin-top: 10px;
	padding: 1% 2%;
	width: 85%;
	font-size: 21px;
	margin-left: 20px;
}
.smallcontent{
	width: 95%;
}
button {
	color: var(--font-color);
	margin-top: 20px;
	padding: 2%;
	background-color: var(--bg-dark);
	border-style: none;
}

* {
	font-family: 'Zilla Slab', serif;
	margin: 0;
	padding: 0;
}
body {
	width: 98vw;
	height: 98vh;
	border: 10px solid var(--bg-light);
	background-color: var(--bg-makari);
	color: var(--font-color);
}