* {
	font-family: 'Zilla Slab', serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--main-dark-bg);
}
:root {
	--font-color: white;
	--main-dark-bg: #343434;
	--bg-light: #E9C668;
	--bg-dark: #301D36;
	--bg-dark-border: #7648B0;
	--bg-light-border: #ebebeb;
}

#header {
	padding: 10px;
	display: flex;
	flex-direction: row;
	background-color: var(--bg-light);
	color: var(--font-color);
}
nav {
	width: 100%;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
#title {
	margin-right: 5vw;
}
#container {
	width: max-content;
	padding: 0px 20px;
	margin-left: 5vw;
	border: 4px solid var(--bg-dark-border);
	background-color: var(--bg-dark);
	border-radius: 14px;
}
#container:hover {
	border: 4px solid var(--bg-light-border);
	background-color: var(--bg-light);
	color: var(--bg-dark);
	border-radius: 14px;
}
