<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="./headers.css">
</head>
<body>
	<header id="header">
		<nav id="content">
			<ul>
				<li>
					<h2 id="title">
						Astra
					</h2>
				</li>
				<li onclick="redir('index')" class="container">
					<h2>Home</h2>
				</li>
				<li onclick="redir('cards')" class="container">
					<h2>Cards</h2>
				</li>
				<li onclick="redir('guides')" class="container">
					<h2>Guides</h2>
				</li>
				<li  onclick="redir('components/guides/mechanics')" class="container">
					<h2>Mechanics</h2>
				</li>
				<li onclick="redir('changes')" class="container">
					<h2>Changelog</h2>
				</li>
			</ul>
		</nav>
	</header>
	<script src="../scripts/tabs.js"></script>
</body>
</html>