<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="Astra - Astatos v0.6 version summary" property="og:title" />
    <meta content="Astatos Guide List" property="og:description" />
    <meta content="https://maxylion.github.io/astra/components/guides/summaries/summary-06.html" property="og:url" />
    <meta content="#E9C668" data-react-helmet="true" name="theme-color" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="./summary-06.css">
	<title>Astatos v0.6 version summary</title>
</head>
<body>
	<iframe id="headeri" src="../../headers.html" frameborder="0"></iframe>
	<div class="guideframe">
		<h1 class="titlebig center">
			Astatos v0.6 summary (As of March 4th, 2023)
		</h1>
		<div class="section">
			<h1 class="center title">
				Preface / Introduction
			</h1>
			<p class="sectiontextnorm">
				Welcome to the first Version Summary on this website! These are meant to document Astatos' changelog/update history. Without further ado:
			</p>
		</div>
		<div class="section">
			<h1 class="center title">
				v0.6 - Drafting
			</h1>
			<div class="margin titlebg">
				<h1>
					Hero Card Drafting
				</h1>
			</div>
			<p class="sectiontextnorm">
				This replaces the Hero Card preferences in the Takeover/Conquest Trial menus.
				<br>You can Ban or Pick Hero Cards. Banned Hero Cards can't be picked/banned by anyone else.
				<br>If no Players have a certain Hero Pack, Heroes from that pack will not be selectable. 
			</p>
			<div class="margin titlebg">
				<h1>
					Stickers
				</h1>
			</div>
			<p class="sectiontextnorm">
				Can be used while waiting in rooms, during multiplayer (Takeover/Conquest) and the victory screen.
				<br>Sticker Pack I is unlocked by default, with Sticker Pack II available in the Shop for 7,500 Monera
			</p>
			<div class="margin titlebg">
				<h1>
					Takeover Leaderboard
				</h1>
			</div>
			<p class="sectiontextnorm">
				Added a Leaderboard display that shows your Rank and ELO. 
				<br>Each season lasts 3 months. When a season ends, players in the top 100 get a hidden title from that season.
			</p>
		</div>
	</div>
</body>
</html>