
:root {
	--font-color: white;
	--main-dark-bg: #343434;
	--bg-light: #E9C668;
	--bg-dark: #301D36;
	--bg-dark-border: #7648B0;
	--bg-light-border: #EBEBEB;
	--bg-makari: #330000;
	--card-select-red: #ED0000;
	--card-select-green: #3FBD2B;
	--card-select-blue: #3582DB;
	--card-select-yellow: #F0E035;
}
#headeri {
	width: 100%;
}
button {
	border-style: none;
}
#red {
	background-color: var(--card-select-red);
}
#green {
	background-color: var(--card-select-green);
}
#blue {
	background-color: var(--card-select-blue);
}
#yellow {
	background-color: var(--card-select-yellow);
}
#colorselect {
	margin-left: 30px;
}
#colorselect button{
	width: 25px;
	height: 25px;
}
#side {
	width: 75%;
	height: 80px;
	margin: 0 12%;
	font-size: 20px;
	color: var(--font-color);
	background-color: var(--bg-makari);
}
#sidechanger {
	display: flex;
	flex-direction: row;
}
#mode {
	width: 75%;
	height: 80px;
	margin: 0 12%;
	font-size: 20px;
	color: var(--main-dark-bg);
	background-color: var(--bg-light);
}
#head {
	padding: 0 2%;
	display: flex;
	flex-direction: column;
}
#infoheader {
	display: flex;
	width: 100%;
}
#wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin-bottom: 30px;
}
.row {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}
#cons *{
	font-size: 17px;
	margin-right: 10px;
	width: 85px;
	height: 85px;
	background-color: var(--bg-light);
}
.icon *{
	margin-right: 10px;
	margin-bottom: 4%;
	width: 85px;
	height: 85px;
	font-size: 20px;
	background-color: var(--bg-light);
}
#display {
	max-width: 70vw;
	max-height: 70vh;
	background-color: var(--bg-dark);
	margin: 5%;
	padding: 1%;
}
#cardimgfull {
	visibility: hidden;
	width: 25vw;
	height: 40vw;
}
#info {
	display: flex;
	flex-direction: row;
	height: 100%;
}
#descdiv {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
#descdiv * {
	font-size: 20px;
	margin-top: 20px;
}
#title {
	margin-left: 20px;
	width: fit-content;
}
#title2 {
	margin-left: 20px;
}
* {
	font-family: 'Zilla Slab', serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--main-dark-bg);
	color: var(--font-color)
}
