
:root {
	--font-color: white;
	--main-dark-bg: #343434;
	--bg-light: #E9C668;
	--bg-dark: #301D36;
	--bg-dark-border: #7648B0;
	--bg-light-border: #EBEBEB;
	--card-select-red: #ED0000;
	--card-select-green: #3FBD2B;
	--card-select-blue: #3582DB;
	--card-select-yellow: #F0E035;
}

#headeri {
	width: 100%;
}
* {
	font-family: 'Zilla Slab', serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--main-dark-bg);
	color: var(--font-color);
}
.guideimg {
	max-width: 50vw;
}
.title {
	width: 100%;
	font-size: 45px;
	margin-bottom: 30px;
	text-align: center;
}
.category {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
}
.guidepanel {
	padding: 1% 2%;
	margin-bottom: 50px;
	margin-left: 7vw;
	height: 45vh;
	width: 85%;
	background-color: var(--bg-light);
}
.guidesummary {
	margin-top: 1vh;
	font-size: 27px;
}
.guidescontainer {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.guidetitle {
	width: 100%;
	display: block;
	color: var(--font-color);
	font-size: 40px;
}
