
:root {
	--font-color: white;
	--main-dark-bg: #343434;
	--bg-light: #E9C668;
	--bg-dark: #301D36;
	--bg-dark-border: #7648B0;
	--bg-light-border: #EBEBEB;
	--card-select-red: #ED0000;
	--card-select-green: #3FBD2B;
	--card-select-blue: #3582DB;
	--card-select-yellow: #F0E035;
}

#headeri {
	width: 100%;
}
* {
	font-family: 'Zilla Slab', serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--main-dark-bg);
	color: var(--font-color)
}
