<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="Astra - Beginner Conquest Guide" property="og:title" />
    <meta content="Astatos Guide List" property="og:description" />
    <meta content="https://maxylion.github.io/astra/components/guides/beginner-conquest.html" property="og:url" />
    <meta content="#E9C668" data-react-helmet="true" name="theme-color" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="./beginner-conquest.css">
	<title>Astatos Guides: Conquest Basics</title>
</head>
<body>
	<iframe id="headeri" src="../headers.html" frameborder="0"></iframe>
	<div class="guideframe">
		<h1 class="titlebig center">
			Conquest Guide (Last updated on March 4th, 2023)
		</h1>
		<div class="section">
			<h1 class="center title">
				Part 0: Preface
			</h1>
			<p class="sectiontextnorm">
				Welcome! (or welcome back!) to another guide, this time focusing on the chaotic multiplayer that is Conquest! 
				<br>This Guide is intended for people who are familliar with Takeover / Astatos Mechanics in general; However, I hope everyone can understand and take something from it. 
				<br>Without further ado, let's start with:
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part I: Gather 'Round!
			</h1>
			<div class="margin">
				<h1 class="title titlebg">
					Basic Structure
				</h1>
			</div>
			<p class="sectiontextnorm">
				You may have noticed that there a few things missing from the UI, mainly the Influence and Disparity meters. That's because the win conditions are a bit different from Takeover! First off: Makari-Hari's side's win condition stays relatively unchanged: Simply activate Hero Abilities to gain Seals; When you have 5 Seals, Makari-Hari's side wins the game.
				<br>Mukaki's side, however, has a different win condition: Turn all players on Makari-Hari's side to yours! How can you do that, though? Well, I'll explain that in the next section:
			</p>
			<div class="margin">
				<h1 class="title titlebg">
					Trials, Energy & Player flipping
				</h1>
			</div>
			<p class="sectiontextnorm">
				Unlike Takeover, skipping Trials does not cost Influence, it costs you (and whoever else skips the Trial) 1 Energy. When a Player has 0 energy, they usually flip to the other side. (we'll cover that later) 
				<br> Energy can still be gained by playing cards and certain Hero Abilities.
			</p>

			<div class="margin">
				<h1 class="title titlebg">
					Hero cards
				</h1>
			</div>
			<p class="sectiontextnorm">
				Something you may have noticed is that, after finishing the first Trial Stage, your Hero Cards cost more energy to summon. (and use!) This is simply for balance purposes. As such, their costs increase with the amount of Players in the game.
				<br>You also may have noticed that Hero Cards have different effects. (See: <a href="../../cards.html">Card Reference (Conquest)</a> ) Again, this is simply for balance purposes.
			</p>
			
			<div class="margin">
				<h1 class="title titlebg">
					Exchange
				</h1>
			</div>
			<p class="sectiontextnorm">
				Exchange is almost unchanged, except for one caveat: You can only preform an Exchange if you have 0 Energy left. Keep this in mind!
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part II: Finale
			</h1>
			<p class="sectiontextnorm">
				Phew! This short guide is finally over! Now's the time to play some Conquest! Just to clarify: this Gamemode is just to goof off with friends, (or the AI) and have fun!
				<br> As always, thank you for reading, and I hope you leared something! If there are any errors or anything that you want to add, feel free to message me on Twitter (@<a href="https://twitter.com/maxy_lion">maxy_lion</a>) or on Discord (MaxyLion#2358)
			</p>
		</div>
	</div>
</body>
</html>