<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="./beginner-takeover.css">
	<title>Beginner Guide To Astatos - Takeover</title>
</head>
<body>
	<iframe id="headeri" src="../headers.html" frameborder="0"></iframe>
	<div class="guideframe">
		<div class="section">
			<h1 class="center">
				Part 0: Preparing For The Trial
			</h1>
			<p class="sectiontextnorm center">
				So, you want to know how to play Astatos? If so, you've come to the right place!
				<br> In this tutorial, I, Max, will guide you through the basics of this game's PvP mode: Takeover!
				<br> As soon as you start an online game, (Through the Trial -> Takeover menu) you'll have to pick Heroes to ban (1 per player) and pick Heroes to use. (5 per player) Only then can the game really start.
				<br> After a short loading screen, you'll have to pick between two cards; These determine the side you're on, (Makari-Hari or Mukaki) But we'll get to that later.
				<br> Then, you'll be given four cards, which you can select to reroll or keep.
				<br> You'll have to wait for your opponent to finish their hand, and then... The Trials begin.
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part I: The Trial Begins
			</h1>
			<p class="sectiontextnorm">
				After taking part in a trial, you most likely played a card and got one energy point for it, 
				
			</p>
		</div>
	</div>
</body>
</html>