<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="Astra - Beginner Takeover Guide" property="og:title" />
    <meta content="Astatos Guide List" property="og:description" />
    <meta content="https://maxylion.github.io/astra/components/guides/beginner-takeover.html" property="og:url" />
    <meta content="https://maxylion.github.io/astra/COVER.png" property="og:image" />
    <meta content="#E9C668" data-react-helmet="true" name="theme-color" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="./beginner-takeover.css">
	<title>Astatos Guides: Takeover Basics</title>
</head>
<body>
	<iframe id="headeri" src="../headers.html" frameborder="0"></iframe>
	<div class="guideframe">
		<h1 class="titlebig center">
			Takeover Guide (Last updated on March 7th 2023)
		</h1>
		<div class="section">
			<h1 class="center title">
				Part 0: Initiation
			</h1>
			<p class="sectiontextnorm">
				So, you want to learn how to play Astatos? If so, you've come to the right place!
				<br> In this tutorial, I, Max, will guide you through the basics of this game's PvP mode: Takeover!
				<br> As soon as you start an online game, (Through the Trial -> Takeover menu) you'll have to pick Heroes to ban (1 per player) and pick Heroes to use. (5 per player) Only then can the game really start.
				<br> After a short loading screen, you'll have to pick between two cards; These determine the side you're on, (Makari-Hari or Mukaki) But we'll get to that later.
				<br> Then, you'll be given four cards, which you can select to reroll or keep.
				<br> You'll have to wait for your opponent to finish their hand, and then...
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part I: The Trial Begins
			</h1>
			<p class="sectiontextnorm">
				After taking part in the starting trial, you most likely played a card (or two!) and got energy from it. That's great! But what can you use it for? 
				<br> Well, energy has a few uses, but they're all centered on one mechanic: Heroes! These cards have different effects (see: <a href="../../cards.html">Card Reference</a>), and are part of the win condition for Takeover: Influence! 
				<br> Your influence has two indicators: The bar at the top, and the card displayed in the lower left of the screen, after you reach 5 influence points for your side, you win!
				<br> I've been going on about influence, but how do you even get it? As I (somewhat) said before, you use different heroes' abilities, of course! Most of them are fairly simple, like drawing a card (Cerkles) or removing one energy from your opponent (Herclaus)! However! There are a few cards with some special features, leading us to... 
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part II: The God and The Devil
			</h1>
			<p class="sectiontextnorm">
				Now, you may have noticed that you and your opponent already have one card summoned; These are Makari-Hari and Mukaki. 
				<br>They both have two abilities; one active and one passive, which can turn the tide of the game in your favor! Let's take a look at them:
			</p>
			<div class="margin">
				<h1 class="title titlebg">
					Overview
				</h1>
			</div>
			<p  class="sectiontextnorm">
				Unlike most heroes, both Makari-Hari and Mukaki's active ability <strong>REMOVE</strong> one influence from your side, so be wary of that! (Note: If any of them is flipped to the opponent's side, they will be unable to use any abilities, active or passive)
			</p>
			<div class="margin">
				<h1 class="title titlebg">
					Makari-Hari
				</h1>
			</div>
			<p class="sectiontextnorm">
				Makari-Hari's passive is fairly simple, simply drawing another card when you play a spell card; Nothing to write home about.
				<br>His active ability is also simple: "Lose one influence and obtain one Energy per Card held by Mukaki's side.", often used as a counter to Mukaki's ability, at least depending on the amount of cards you have
				<br>Speaking of which...
			</p>

			<div class="margin">
				<h1 class="title titlebg">
					Mukaki
				</h1>
			</div>
			<p class="sectiontextnorm">
				Mukaki's ability is still simple: "Add one cooldown to Makari-Hari, and swap all cards with your opponent." However, it proves to be a strong asset in your favor, considering that you can easily run out of cards as Mukaki, tying in to his passive: "Players on Mukaki's side can play up to two Cards during the Trial Stage."
			</p>
			
			<div class="margin">
				<h1 class="title titlebg">
					In short...
				</h1>
			</div>
			<p class="sectiontextnorm">
				Both of their abilities are crucial to getting an edge on your opponent and winning, but since they both have a long 5 turn cooldown, using their abilities when the time is right is incredibly important to win!
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part III: Disparage and Exchange
			</h1>
			<div class="margin">
				<h1 class="title titlebg">
					Overview
				</h1>
			</div>
			<p class="sectiontextnorm">
				Disparity and Exchange are relatively new mechanics, both meant as a way to come back from bad RNG or other causes. Let's take a look at them:
			</p>

			<div class="margin">
				<h1 class="title titlebg">
					Disparity
				</h1>
			</div>
			<p class="sectiontextnorm">
				When the game starts, both you and your opponent start off with an empty disparity meter, which only gains one charge when the respective side skips a trial.
				<br>As of writing this guide (March 1st, 2023), there is only one action you can preform: <strong>Disparage</strong>, which doubles every influence you gain from your own hero abilities.
				<br>Funnily enough, it's mainly used to finish a game, rather than to stay afloat. (Speaking from personal experience, at least)
			</p>
			<div class="margin">
				<h1 class="title titlebg">
					Exchange
				</h1>
			</div>

			<p class="sectiontextnorm">
				A very straightforward mechanic, exchange three cards, or two when using Gaios, and gain one energy. Extremly useful to stay afloat when you have bad RNG or need to use a hero ability and have no energy left! (Note: You cannot preform an exchange if you start your turn with two or more Energy)
				<br>It does have its flaws however. Mainly the fact that it depends on cards, and if your opponent can consistently remove cards from your hand (eg: Krokos, Regulus, Caelius, etc.) you're screwed, to put it lightly.
				Overall, it's a balanced mechanic, not too much to say about it
			</p>
		</div>
		<div class="section">
			<h1 class="center">
				Part IV: Misc.
			</h1>
			<div class="margin">
				<h1 class="title titlebg">
					Overview
				</h1>
			</div>
			<p class="sectiontextnorm">
				Misc. Features/Mechanics that didn't fit anywhere else.
			</p>
			<div class="margin">
				<h1 class="title titlebg">
					Spell cards
				</h1>
			</div>
			<p class="sectiontextnorm">
				Different types of cards that have special effects, they do not generate energy when played.
			</p>
		</div>

		<div class="section">
			<h1 class="center">
				Part V: Finale
			</h1>
			<p class="sectiontextnorm">
				And That concludes this guide! Thank you for reading, and I hope you leared something! If there are any errors or anything that you want to add, feel free to message me on Twitter (@<a href="https://twitter.com/maxy_lion">maxy_lion</a>) or on Discord (MaxyLion#2358)
			</p>
		</div>
	</div>
</body>
</html>