<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">	
	<link rel="icon" href="https://maxylion.github.io/astra/favicon.ico">
	<link rel="stylesheet" href="./construction.css">
	<title>Beginner Guide To Astatos - Takeover</title>
</head>
<body>
	<iframe id="headeri" src="../headers.html" frameborder="0"></iframe>
	<div class="guideframe">
		<h1>
			Under construction!
		</h1>
		<h1>
			This guide is being written as we speak!
		</h1>
		<h1 class="btm">
			Thank you for your patience!
		</h1>
	</div>
</body>
</html>